@page "/ChatRoom/{id:int}"
@model ChatBotWeb.Pages.ChatRoomModel
@{
}



<div class="row">
    <div class="col-md-2">
        <form method="post" asp-page-handler="Stock">
            <input asp-for="StockQuote" type="text" class="form-control" value="" id="inputMessage" placeholder="Stock code here" />
            <button type="submit" class="btn btn-success" id="stockButton">Call Stock Bot</button>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-md-8 offset-2">
        <h2>Chat Room: @Model.Room.RoomName </h2>
        <ul class="list-group">
            @foreach (var message in Model.Messages)
            {
                <li class="list-group-item">
                    <div>
                        @message.MessagePrompt
                    </div>
                    <div class="small">
                        By: @message.User.Username on @message.PostingTime
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-8 offset-2">
        <form method="post" asp-page-handler="Message">
            <div class="mb-3">
                <input asp-for="NewMessage" type="text" class="form-control" value="" id="inputMessage" placeholder="Enter your message here" />
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>
