@page "/ChatRoom/{id:int}"
@model ChatBotWeb.Pages.ChatRoomModel
@{
}

<div class="row">
    <div class="col-md-8 offset-2">
        <h2>Chat Room: @Model.Room.RoomName </h2>
        <ul class="list-group">
            @foreach (var message in Model.Messages)
            {
                <li class="list-group-item">
                    <div>
                        @message.MessagePrompt
                    </div>
                    <div class="small">
                        By: @message.User.Username on @message.PostingTime
                    </div>
                </li>
            }
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-md-8 offset-2">
        <form method="post">
            <div class="mb-3">
                <label for="inputMessage" class="form-label">Send message</label>
                <input asp-for="NewMessage" type="text" class="form-control" value="" id="inputMessage" placeholder="Enter your message here" />
                <span asp-validation-for="NewMessage" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>
